<footer>
<div class="container-fluid" style="position: absolute; bottom: -40px;width: 100%; text-align: center; background-color: black; opacity: .6">
        
          <div style="width: 100%; font-size: 21px;color: lightblue;" class="navbar-header">
      		<p>Copyright 2015 Sam Sunny. All rights reserved. |   <i class="fa fa-github-square"></i> | <i class="fa fa-facebook-square"></i> | <i class="fa fa-instagram"></i> | <i class="fa fa-linkedin-square"></i></p>
          
	</div></div>
</footer>