<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Projects</h1>
    <p>Welcome to Projects page</p>
  </body>
</html>
